*.java linguist-language=Java

*.html linguist-detectable=false
*.htm linguist-detectable=false
*.xml linguist-detectable=false

app/src/main/res/** linguist-vendored=true
app/build/** linguist-generated=true
build/** linguist-generated=true
.idea/** linguist-generated=true
docs/** linguist-documentation=true
